@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YouTubeProxy.Models.BaseViewModel>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hello World";
}

@*<h2>Hello @Model.User.Identity.Name!</h2>*@
