@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YouTubeProxy.Models.SearchViewModel>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "68kTube - " + ;
}

<h2>Search for @Model.SearchTerms</h2>

@foreach (var result in Model.Results)
{
        <a href="/watch/@result.VideoId">
            <img src="@result.ThumbUrl" align="left" border="1" />
        </a>
        <h3><a href="/watch/@result.VideoId">@result.Title</a></h3>
        <p>@result.Description</p>
        <p>&nbsp;</p>

    }
