
@{
    ViewData["Title"] = "68kTube - Get Quicktime";
}

<table border="0">
    <tr>
        <td>
            <h1>Windows 3.1</h1>
            <ul>
                <li></li>
            </ul>
        </td>
        <td>

        </td>
    </tr>
</table>

